.about {
  @include grid(2,1fr,4rem);
  place-items: center;

  @include breakPoint(1200px) {
      grid-template-columns: 1fr;
  }

  &__item {

      .section__subtitle,
      .section__title {
          text-align: left;
          max-width: 100%;
      }

      .section__title {

          &::after {
              margin: 0;
              width: 190px;     
          }

          &::before{
              @include positioning(absolute, auto, auto, 0, 5%);
          }
      }

      .about__p {
          margin: 2rem 0;
          text-align: justify;
      }

      .about__box {
          @include flex(space-between, center, wrap, 1rem, 48%);

          @include breakPoint(768px) {
              flex-direction: column;
              align-items: flex-start;
              gap: 0.5rem;
          }

          &__item {

              i {
                  color: $primaryColor;
                  font-size: 1.5rem;

                  @include breakPoint(576px) {
                      font-size: 1rem;
                  }
              }

              span {
                  margin-left: 1rem;
                  font-size: 1.2rem;
                  font-weight: 600;

                  @include breakPoint(576px) {
                      font-size: 1rem;
                  }
              }
          }
      }

      .about__contact {
          margin-top: 1.5rem;
          display: flex;
          align-items: center;
          gap: 1rem;

          @include breakPoint(576px) {
              display: none;
          }

          i {
              @include icon();
              color: white;
          }

          &__text {

              p,
              h5 {
                  font-size: 1.2rem;
              }

              h5 {
                  color: $primaryColor;
              }
          }
      }

      .about__btn {
          @include btn();
          margin-top: 1rem;
          display: inline-block;
      }
  }
}

































///////////////////////////////
// MOJ KOD PRE FILIPOVE PROVERE
///////////////////////////////
// .about {
//   @include grid(2, 1fr, 4rem);
//   place-items: center;
  
//   @include breakPoint(1200px) {
//     grid-template-columns: 1fr;
//   }

//   &__item {

//     .section__subtitle,
//     .section__title {
//       text-align: left;
//       max-width: 100%;
//     }

//     .section__subtitle {
//       font-size: 1.25rem;
//     }

//     .section__title {
//       font-size: calc(1.375rem + 1.5vw);

//       &::before{
//         @include positioning(absolute, auto, auto, 0, 5%);
//       }
//       &::after {
//         margin: 0;
//       }

//       // @include breakPoint(1200px){
//       //   &::before{
//       //     @include positioning(absolute, auto, auto, 0, 8%);
//       //   }
//       // }

//       // @include breakPoint(992px){
//       //   &::before{
//       //     @include positioning(absolute, auto, auto, 0, 10%);
//       //   }
//       // }

//       // @include breakPoint(686px){
//       //   &::before{
//       //     @include positioning(absolute, auto, auto, 0, 40%);
//       //   }
//       // }

//       // @include breakPoint(576px){
//       //   &::before{
//       //     @include positioning(absolute, auto, auto, 0, 18%);
//       //   }
//       // }

//       // @include breakPoint(400px){
//       //   &::before{
//       //     @include positioning(absolute, auto, auto, 0, 28%);
//       //   }
//       // }
//     }

//     .about__p {
//       margin: 2rem 0;
//     }

//     .about__box {
//       @include flex(space-between, center, wrap, 0rem, 40%);

//       @include breakPoint(1400px) {
//         flex-direction: column;
//         align-items: flex-start;
//         gap: 1.5rem;
//       }

//       &__item {
//         i {
//           color: $primaryColor;
//           font-size: 1.5rem;

//           @include breakPoint(576px) {
//             font-size: 1rem;
//           }
//         }

//         span {
//           margin-left: 1rem;
//           font-size: 1.2rem;
//           font-weight: 600;

//           @include breakPoint(576px) {
//             font-size: 1rem;
//           }
//         }
//       }
//     }

//     .about__contact {
//       margin-top: 1.5rem;
//       display: flex;
//       align-items: center;
//       gap: 1rem;

//       @include breakPoint(576px) {
//         display: none;
//       }

//       i {
//         @include icon();
//         color: white;
//       }

//       &__text {
//         p,
//         h5 {
//           font-size: 1.2rem;
//         }

//         h5 {
//           color: $primaryColor;
//         }
//       }
//     }

//     .about__btn {
//       @include btn();
//       display: inline-block;
//       margin-top: 1rem;
//     }
//   }
// }
