.plans {
  &__wrapper {
    margin-top: 3rem;
    @include flex(flex-start, stretch, wrap);

    @include breakPoint(1500px) {
      flex-direction: column;
    }

    .plans__item {
      flex: 1 0 25rem;
      background-color: #eef9ff;
      padding: 2rem;

      @include breakPoint(992px) {
        &:nth-child(2) {
          box-shadow: none;
        }
      }

      @include breakPoint(576px) {
        flex: 1 0 15rem;
        padding: 1rem;
      }

      &:nth-child(2) {
        box-shadow: 10px 10px 7px 0px rgba(0, 0, 0, 0.15);
        background-color: white;

        @include breakPoint(768px){
          box-shadow: none;
        };
      }

      .plans__header {
        border-bottom: 2px solid #ddd;

        .plans__heading {
          font-size: 1.5rem;
          color: $primaryColor;
        }
        .plans__subheading {
          text-transform: uppercase;
          margin-bottom: 1rem;
          font-size: 1.2rem;

          @include breakPoint(576px) {
            font-size: 1rem;
          }
        }
      }

      .plans__price {
        font-size: 1.1rem;
        color: $secondaryColor;
        margin: 1rem 0;

        .dollar__top {
          vertical-align: top;
          font-size: 1.3rem;
        }

        span {
          font-size: 3rem;

          @include breakPoint(576px) {
            font-size: 2.5rem;
          }
        }
      }

      .plans__list {
        &__item {
          @include flex(space-between, center);
          margin-bottom: 0.8rem;

          .plans__text {
            @include breakPoint(576px) {
              font-size: 0.8rem;
            }
          }

          i {
            font-size: 1.3rem;
            font-weight: 600;

            @include breakPoint(576px) {
              font-size: 1rem;
            }
          }

          .primary {
            color: $primaryColor;
          }

          .red {
            color: red;
          }
        }
      }

      .plans__btn {
        @include btn();
      }
    }
  }
}
